BIN-Debug/*.*
OBJ-Debug/*.*
MAPWIN/*.*
VS-projects
Debug
TEMP
my-config.bat
.vscode/
*.swp
*.swo
tags
Packages
TestMem/MITTA000.MEM
TestMem/OTHER000.MEM
TestMem/SHOWM000.MEM
SAMPLEDATA/PROPERTY/OTHER000.MEM
SAMPLEDATA/PROPERTY/MITTA000.MEM
SAMPLEDATA/MEM/OTHER000.TMI
SAMPLEDATA/MEM/OTHER000.TMD
SAMPLEDATA/MEM/MITTA000.TMI
SAMPLEDATA/MEM/MITTA000.TMD
source/build
source/builds/

include/build/CMakeCache.txt
include/build/.cmake/api/v1/query/client-integration-vscode/cache-v2
include/build/.cmake/api/v1/query/client-integration-vscode/cmakeFiles-v1
include/build/.cmake/api/v1/query/client-integration-vscode/codemodel-v2
include/build/CMakeFiles/cmake.check_cache
include/build/CMakeFiles/CMakeOutput.log
include/build/CMakeFiles/3.16.3/CMakeSystem.cmake
