BIN-Debug/*.*
OBJ-Debug/*.*
MAPWIN/*.*
VS-projects
Debug
TEMP
my-config.bat
source/build/
.vscode/
*.swp
*.swo
tags
Packages
TestMem/MITTA000.MEM
TestMem/OTHER000.MEM
TestMem/SHOWM000.MEM
SAMPLEDATA/PROPERTY/OTHER000.MEM
SAMPLEDATA/PROPERTY/MITTA000.MEM
SAMPLEDATA/MEM/OTHER000.TMI
SAMPLEDATA/MEM/OTHER000.TMD
SAMPLEDATA/MEM/MITTA000.TMI
SAMPLEDATA/MEM/MITTA000.TMD
